.drawer-container {
  width: 25%;
}

.drawer-container .main-drawer {
  position: relative;
  width: 100%;
}

.drawer-container .main-drawer .header {
  background-color: #7487d4;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer-container .main-drawer .header .user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.drawer-container .main-drawer .header .user-info .avatar {
  margin-right: 10px;
}

.drawer-container .main-drawer .header .user-info .user-name {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.drawer-container .main-drawer .toggle-drawer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 54px;
  cursor: pointer;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: -22px;
  top: 5px;
  z-index: 9999;
  transform: translate(-360px, 0px);
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.drawer-container .main-drawer .toggle-drawer-btn.drawer-open {
  transform: translate(0px, 0px);
}